attrs==26.1.0
certifi==2026.7.22
charset-normalizer==3.5.1
colorama==0.4.6
contourpy==1.4.0
cycler==0.12.1
cyclopts==5.0.0
docstring_parser==0.18.0
fonttools==4.66.0
idna==3.20
ImageIO==2.37.4
iniconfig==2.3.0
kiwisolver==1.5.1
lazy-loader==0.6
markdown-it-py==4.2.0
matplotlib==3.11.2
mdurl==0.1.2
networkx==3.7
nibabel==5.4.2
numpy==2.5.3
packaging==26.3
pillow==12.3.0
platformdirs==4.12.0
pluggy==1.6.0
pooch==1.9.0
Pygments==2.21.0
pyparsing==3.3.3
PySide6==6.11.2
PySide6_Addons==6.11.2
PySide6_Essentials==6.11.2
pytest==9.1.1
python-dateutil==2.9.0.post0
pyvista==0.49.0
pyvista-validation==0.2.2
pyvistaqt==0.13.1
QtPy==2.4.3
requests==2.34.2
rich==15.0.0
rich-rst==2.2.0
scikit-image==0.26.0
scipy==1.18.1
scooby==0.12.0
shiboken6==6.11.2
simpleitk==2.5.6
six==1.17.0
tifffile==2026.9.20
typing_extensions==4.16.0
urllib3==2.8.0
vtk==9.7.0
